<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Driver" value="FireFox"/>
    <add key ="Url" value="http://journals.lww.com"/>
    <add key="ValidLogin" value="Vladtest"/>
    <add key="ValidPassword" value="1234qwer"/>
    <add key="InvalidLogin" value="Vladtestqwer"/>
    <add key="InvalidPassword" value="1234QWER"/>
    <add key="JournalNameAACaseReports" value="A&amp;A Case Reports"/>
    <add key="JournalNameAcademicMedicine" value="Academic Medicine"/>
    <add key="JournalPlasticAndReconstructiveSurgery" value="Plastic and Reconstructive Surgery"/>
    <add key="BeginningSymbol" value="P"/>
    <add key="ArticleNameSpinCordSrimulation" value="Spinal Cord Stimulation Treatment for Persistent Pain After a Burn Injury:  A Case Report"/>
    <add key="FolderName1" value ="TestFolder1"/>
    <add key="FolderName2" value="TestFolder2"/>
    <add key="WordForSearch" value="blood"/>
    <add key="NumberOfPage" value="2"/>
    <add key="ArticleForSearch" value="Role of Rhinoplasty in Transsexual Patients."/>
    <add key ="RussianArticleForSearch" value="Роль Ринопластика у пациентов-транссексуалов."/>
    <add key="SearchNameForSave" value="SearchSave"/>
  </appSettings>  
</configuration>